/* CSS para a página principal - Chuva.inc */

/* Importando fonte */
@import url('https://fonts.googleapis.com/css2?family=Quicksand');

/* Setando os valores defauts */
.{
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #ffffff;
}

h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 9px;
}

#wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    display: flex;
    align-items: stretch;
}

/*********************/

#top-menu{ /* Não exibir em modo desktop */
    display: none;
}

header{
    width: 100%;
    height: 68px;
    width: 100%;
    margin-left: 220px;
    background-color: #FDF1EB;
    padding-left: 20px;
}

/* Menu no modo responsivo */
#sidemenu {
    color: #ED7839;
    display: none;
    min-width: 220px;
    max-width: 220px;
    position: fixed;
    min-height: 100vh;
    background: #ffffff;
    color: #fff;
    transition: all 0.3s;
    box-shadow: 6px 0px 14px 5px rgba(0,0,0,0.27);
}

#sidemenu h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    display: flex;
    text-align: center;
    color: #FFB354;
    padding: 9px;
    }

/* Style da sidebar */ 
#sidebar {
    min-width: 220px;
    max-width: 220px;
    position: fixed;
    min-height: 100vh;
    background: #ffffff;
    color: #fff;
    transition: all 0.3s;
    box-shadow: 6px 0px 14px 5px rgba(0,0,0,0.27);
}

#sidebar .sidebar-header {
    padding: 10px;
    padding-left: 15px;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    text-align: center;
    max-height: 68px;
}

#sidebar ul.components {
    border-bottom: 1px solid #ffffff;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #725C5C;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}
ul li{
    border: #725C5C;
}

ul li a {
    padding: 5px 20px 10px 20px;
    display: block;
    margin-left: 5px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    color: #725C5C;    
}

#selecionado{ /*Página atual */
    Width: 5px;
    Height:33px;
    position: relative;
    left: 0%;
    right: 97.73%;
    top: 0%;
    bottom: 5.71%;
    background: linear-gradient(180deg, #FFB455 0%, #ED7839 100%);
}


/* Manter os links do sidemenu com o mesmo efeito */
ul li:hover{
    background: linear-gradient(180deg, #FFB455 0%, #ED7839 100%);
}

ul li a:hover {
    color: #ffffff !important;
    text-decoration: none;    
    padding: 5px 20px 10px 20px;
    display: block;
    margin-left: 10px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    }
ul li a:visited{
    text-decoration: none;    
    padding: 5px 20px 10px 20px;
    display: block;
    margin-left: 5px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    color: #725C5C; 
}    

#menu{
    padding-bottom: auto;
    padding-left: 10px;
    max-width: 80px;
    max-height: 80px;
    position: absolute;
    text-align: right;
}

#menu a{
    color: #fff;
}

#menu a:hover{
    color: #FFFFFF;
}

/* Media queries */
@media (max-width: 768px) {
    #top-menu{ /* Exibir o menu do topo */
        display: block;
        width: 100%;
        height: 68px;
        max-height: 68px;
        position: sticky;
        align-items: center;
        text-align: center;
        padding-top: 10px;
        padding: auto;
        color: #ffffff;
        background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
        font-size: 30px;
    }
    #sidebar { /* Esconder sidebar */
        margin-left: -250px;
    }
    header{
        width: 100%;
        height: 68px;
        width: 100%;
        margin-left: 0px;
        padding-left: 20px;
        background-color: #FDF1EB;
    }
}